*{
    margin: 0;
    padding: 0;
}
.main{
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) ,url(../IMAGES/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;
}
.logo{
    height: 200px;
    display: flex;
    padding: 10px;
}
.menu{
    width: 800px;
    height: 90px;
    float: right;
    

}
ul{
    float: left;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    height: 50px;
    width: 1200px;

    
}
ul li{
    list-style: none;
    margin-left: 60px;
    font-size: 18px;
    font-family: cursive;
    
    
}
ul li a{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    transition: 0.3s ease;
}
ul li a:hover{
    color: #c70821;
}
.search-box{
    float: right;
}